<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102197009642-oqv2724ra6e1e2s2b9joufg94je9htej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102197009642-oqv2724ra6e1e2s2b9joufg94je9htej</string>
	<key>API_KEY</key>
	<string>AIzaSyDGfZk9w73KnH3EcfVhEsrUSMXNI6Kqlhg</string>
	<key>GCM_SENDER_ID</key>
	<string>102197009642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanvirgeek.AuthenticationApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-uikit</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-uikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102197009642:ios:8ae3a2502ab9647f568b93</string>
</dict>
</plist>